*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.todo {
    max-width: 600px;
    margin: 0 auto;
    background-color: #0B2545;
    color: #EEF4ED;
    padding: 40px;
}

.todo-form {
    padding: 2rem 0;
}

.todo-form-heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.todo-text {
    background: transparent;
    border: none;
    background-color: #13315C;
    font-size: 1.6rem;
    padding: 8px;
    color: #fff;
    width: 100%;
    margin: 10px 0;
}

.todo-text::placeholder {
    color: #fff;
}

.todo-text:focus {
    outline: none;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.todo-submit {
    background-color: #8DA9C4;
    color: #fff;
    padding: 8px 24px;
    margin-right: 10px;
}

.todo-remove-all {
    background-color: #134074;
    padding: 8px 24px;
    color: #fff;
}

.todo-submit:focus,
.todo-remove-all:focus {
    outline: none;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.todo-list-heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.todo-delete {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    fill: #B10F2E;
}

.todo-value {
    font-weight: 400;
    font-size: 16px;
}