*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    background: url('./images/background.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.todo {
    max-width: 600px;
    margin: 0 auto; 
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 40px;
    border-radius: 4px;
}

.todo-form {
    padding: 2rem 0;
}

.todo-form-heading {
    font-size: 2rem;
}

.todo-text {
    background: transparent;
    border: none;
    background-color: #fff;
    font-size: 1.3rem;
    padding: 8px;
    color: #000;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px
}

.todo-text::placeholder {
    color: #000;
}

.todo-text:focus {
    outline: none;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.todo-submit {
    background-color: #120D31;
    color: #fff;
    padding: 8px 24px;
    margin-right: 10px;
    border: 1px solid #120D31;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.todo-submit:hover {
    background-color: #fff;
    color: #120D31;
}

.todo-remove-all {
    background-color: #120D31;
    padding: 8px 24px;
    color: #fff;
    border: 1px solid #120D31;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.todo-remove-all:hover {
    background-color: transparent;
    color: #120D31;
}

.todo-submit:focus,
.todo-remove-all:focus {
    outline: none;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.todo-list-heading {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.todo-delete {
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    fill: #fff;
    transition: all .4s ease-in;
}

.todo-delete:hover {
    fill: #ff0702;
}

.todo-value {
    font-weight: 400;
    font-size: 16px;
}